#cadastro {
    margin-top: 10px;
    width: 50%;
}

h4 {
    text-align: center;
    margin: 27px 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#btnCadastrarFraquiados {
    text-align: right;
}

#adicionar {
    height: 22px;
    width: 22px;
}

#remover {
    height: 20px;
    width: 20px;
}
