    /* Limpar padrões do navegador*/
    body {
        border: 0;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
    }

    #menu {
        background-color: rgba(73, 29, 86, 1);
        text-align: center;
    }

    #home {
        margin-left: 120px !important;
    }

    #logo {
        height: 100px;
        width: 65px;
    }

    #menu a {
        text-decoration: none;
        color: white;
        margin: 0 60px;
        font-size: 28px;
    }

    #menu a:hover {
        color: rgba(198, 191, 191, 0.66);
    }

    #deslogado {
        font-size: 25px;
        color: rgba(235, 55, 55, 0.79);
    }

    #deslogadoPalavra {
        display: inline-block;
    }

    #carousel {
        height: auto;
    }

    h5 {
        text-align: center;
        margin: 15px 0 25px 0;
    }

    #loginFranqueados {
        text-align: right;
    }
