/* body {
    background-color: #161616;
} */

.container {
    height: 600px;
}

main {
    max-width: 1080px;
    margin: 0 auto;
    font-size: 16px;
    float: left;
}

.menu {
    position: relative;
    margin: 25px auto 25px auto;
    background-color: rgba(73, 29, 86, 1);
    width: 70px;
    border-radius: 25px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carrinho {
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

.question {
    font-size: 30px;
    color: white;
    margin-right: 3px;
}

.editar {
    font-size: 30px;
    color: white;
    margin-left: 3px;
}

.whatsapp {
    font-size: 35px;
    color: white;
}

.menu--closed {
    height: 70px;
}

.menu--open {
    height: 400px;
}

.button {
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
    ;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 2em;
    height: 2em;
    left: 27%;
    top: 20px;
    opacity: 1;
}

.button:hover {
    opacity: 0.6;
}

.button span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 20%;
}

.menu--open .button {
    transform-origin: center;
    transform: rotate(90deg);
}

.tools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    transition: 0.3s margin ease-in-out;
}


.tools .icon {
    transition: 0.2s transform ease-in-out;
}

.tools .icon:hover {
    transform: scale(0.8);
}

.tools--hidden {
    margin-top: 400px;
    z-index: -100;
}

.tools--visible {
    margin-top: 40%;
    z-index: 100;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: rgba(73, 29, 86, 1);
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#inputWhatsapp {
    float: left;
    margin: 230px 0 0 40px;
    width: 400px;
}

#xWhatsapp {
    color: darkred;
    font-size: 20px;
    margin-left: 232px;
}

.fa-arrow-right {
    font-size: 20px;
    color: #343a40;
    margin-left: 380px;
    margin-top: 5px;
    color: darkgreen;
}

.editarCadastroFranqueados {
    width: auto;
    overflow-y: scroll;
    overflow-x: auto;
    height: 430px;
    padding: 50px;
}

#adicionar {
    height: 22px;
    width: 22px;
}

#remover {
    height: 20px;
    width: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 50px;
}

#btnCadastrarFraquiados {
    text-align: right;
}

#xEditar {
    color: darkred;
    font-size: 20px;
    margin-left: 900px;
    margin-top: 20px;
}


#xPedidos {
    color: darkred;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 20px;
}

/* Menu de pedidos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    top: 45%;
    left: 55%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul li {
    list-style: none;
    display: inline-block;
    oveflow: hidden;
}

nav ul li a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    border-radius: 50px;
    width: 130%;
    text-align: center;
    transition-duration: 0.25s;
}

nav ul li a:hover {
    color: white;
}

nav ul li.active a {
    color: white;
}

nav ul li:nth-child(1) a {
    background-color: rgb(162, 61, 191);
}

nav ul li:nth-child(2n) a {
    background-color: rgb(139, 54, 163);
}

nav ul li:nth-child(3n) a {
    background-color: rgb(111, 43, 131);
}

nav ul li:nth-child(4n) a {
    background-color: rgb(97, 38, 114);
}

nav ul li:nth-child(5n) a {
    background-color: rgb(86, 34, 101);
}

nav .dot {
    background-color: red;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 50%;
    transition-duration: 0.5s;
}
