#menu {
    background-color: rgba(73, 29, 86, 1);
    text-align: center;
}

#home {
    margin-left: 120px !important;
}

#logo {
    height: 70px;
    width: 45px;
    margin: 10px 0;
}

#menu a {
    text-decoration: none;
    color: white;
    margin: 0 60px;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
}

#menu a:hover {
    color: rgb(208, 51, 255);
    transform: scale(1.5);
}
