    /* Limpar padrões do navegador*/
    body {
        border: 0;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
    }

    #carousel {
        height: auto;
    }

    #logout,
    .fa-sign-out-alt {
        float: right;
        display: inline-block;
        margin: 30px;
        font-size: 45px;
        color: rgba(73, 29, 86, 1);
    }

    .fa-sign-out-alt:hover {
        color: rgb(131, 43, 157);
    }
