    /* Limpar padrões do navegador*/
    body {
        border: 0;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        font-family: 'Ubuntu', sans-serif;
    }

    #carousel {
        height: auto;
    }
