footer {
    background-color: #3b1746;
    color: white;
    text-align: center;
    clear: both;
    font-family: 'Ubuntu', sans-serif;
    padding: 2px 0px;
}

#logoRodape {
    height: 70px;
    width: 45px;
    margin-right: 12px;
}

#whatsapp {
    width: 40px;
    height: 40px;
}

.fa-facebook-f {
    font-size: 40px;
}

.fa-whatsapp {
    font-size: 40px;
}

.fa-instagram {
    font-size: 40px;
}

.rodape {
    text-decoration: none;
    color: white;
    margin-right: 12px;
}

h6 {
    display: inline-block
}
