#menu {
    background-color: rgba(73, 29, 86, 1);
    text-align: center;
}

#logo {
    height: 100px;
    width: 65px;
}

#menu a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}

#menu a:hover {
    color: rgba(198, 191, 191, 0.66);
}
